<div class="card-wraper">
    <img src="{{flags.svg}}" alt="{{name}}" class="card-img">
    <h2 class="card-title">{{name}}</h2>
</div>    
    <ul class="card-list">
        <li class="card-item">
            <h3 class="card-item__title">Capital:</h3>
            <p class="card-item__text">{{capital}}</p>
        </li>
        <li class="card-item">
            <h3 class="card-item__title">Population:</h3>
            <p class="card-item__text">{{population}}</p>
        </li>
        <li class="card-item">
            <h3 class="card-item__title">Languages:</h3>
            <p class="card-item__text">{{languages}}</p>
        </li>
  </ul> 


